* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    font-size: 0.9em;
    color: black;
    background-color: sandybrown;
    text-align: center;
}

h1 {
    padding-top: 3rem;
}

hr {
    width: 30%;
    margin: auto;
}

.animal-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 30vw);
    grid-gap: 12px;
    padding-top: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 3vh;
}

.gallery_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
