* {
    box-sizing: border-box;
}

body {
    background-color: sandybrown;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 0;
}

/* full width input fields */
input[type=text], input[type=password]
{
    width: 100%;
    padding: 13px 10px;
    margin: 0.7em 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    text-align: center;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 3rem;
}

.container {
    width: 80vw;
    margin: 3rem auto;
    background: white;
    padding: 4em;
    box-sizing: border-box;
    height: auto;
    overflow: hidden;
}

button {
    background-color: sandybrown;
    color: white;
    padding: 1em 1em;
    margin: 2em 0;
    border: none;
    cursor: pointer;
    width: 35%;
    opacity: 0.8;
    transition-duration: 0.5s;
    font-size: 0.9em;
}

button:hover {
    opacity: 1;
}

.container>h2 {
    font-size: 2em;
}

.bottom {
    text-align: center;
    font-size: 0.9em;
}

.btmlinks {
    color: white;
}

.icon {
    position: relative;
    top: 39px;
    left: 1.5vw;
    padding: 2px;
    min-width: 32px;
    border: none;
}

@media only screen and (min-width: 650px) {
    .container {
        width: 50vw;
        margin: 3rem auto;
        background: white;
        padding: 4em;
        box-sizing: border-box;
        height: auto;
        overflow: hidden;
    }
    
}

@media only screen and (max-width: 650px) {
    button {
        background-color: sandybrown;
        color: white;
        padding: 1em 1em;
        margin: 2em 0;
        border: none;
        cursor: pointer;
        width: 60%;
        opacity: 0.8;
        transition-duration: 0.5s;
        font-size: 0.9em;
    }
    
    button:hover {
        opacity: 1;
    }
       
}

@media only screen and (max-width: 300px) {
    .icon {
        visibility: hidden;
    }
}